*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug2{
  border: 0.1px solid rgba(255, 255, 255, 0);
}

.debug{
  border: 3px solid red;
}

/* HEADER */

.macro-container{
  background-color: white;
  width: 100%;
  height: 80px;
  padding-top: 22px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elements-left{
  margin-left: 25px;
}

.elements-right{
  margin-right: 25px;
}

.elements-left a{
  text-decoration: none;
  color: black;
  padding-right: 40px;
}

.elements-right a{
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

.elements-right .button-header{
  background-color: #3762FD;
  color: white;
  padding: 8px 12px;
}

/* MAIN */

/* JUMBOTRON */
.big-container{
  max-height: 750px;
  background-color: #B3D0E6;
}

.container-macro{
  min-height: 700px;
  width: 70%;
  margin: 0 auto;
  padding-top: 120px;
}

.text-jumbotron{
  font-size: 4.5rem;
}

.box-ancora{
  width: 70%;
  margin-top: 50px;
}

.box-ancora p{
  width: 100%;
  margin-bottom: 20px;
}

.button-jumbo{
  background-color: #3762FD;
  color: white;
  padding-left: 8px;
  padding-top: 15px;
  padding-right: 8px;
  padding-bottom: 15px;
}

.text-bott-butt{
  margin-top: 35px;
  margin-bottom: 10px;
}

.arrow{
  font-size: 3rem;
}

img{
  width: 100%;
}

.cont-img{
  margin-top: 50px;
}

.cont-box-text-img{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

/* SECTION PIANI */

.big-c-main{
  min-height: 400px;
  width: 60%;
  margin: 0 auto;
  margin-top: 130px;
}

.text-b{
  font-size: 2.8rem;
}

.switch-button{
  margin-top: 50px;
}

.mensile{
  padding-right: 50px;
}



.piani{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.card-singolo{
  border: 1px solid lightgray;
  width: 300px;
}

.id-piano{
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid lightgray;
}

.position{
  max-width: 240px;
  margin: 0 auto;
  
}

.first-sec{
  margin-top: 20px;
  margin-bottom: 55px;
  line-height: 2.2;
}

.light{
  color: gray;
}

.sec-sec{
  line-height: 1.5;
  margin-bottom: 55px;
}

.tird-sec{
  background-color: #3861FF;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.fourth-sec{
  padding-top: 40px;
}

.sixth-sec{
  padding-top: 45px;
  width: 50px;
}

.eight-sec{
  padding-top: 55px;
}

.ninth-sec{
  padding-top: 40px;
  line-height: 1.5;
  margin-bottom: 55px;
}

.cont-partner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 220px;
}

.half{
  display: flex;
  width: 60%;
}

.box-sx{
  width: 60%;
}

.box-dx{
  width: 40%;
  padding-left: 50px;
  padding-top: 60px;
}

.box-dx h2{
  padding-bottom: 30px;
}

.box-dx p{
  padding-bottom: 35px;
}

.box-dx span{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
}



.macro-box{
  max-width: 1000px;
  width: 60%;
  margin: 0  auto;
  margin-top: 165px;
}

.macro-box h1{
  font-size: 2.3rem;
  margin-bottom: 110px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  width: calc(100%/3);
  padding: 0 15px;
}

.card{
  margin-bottom: 85px;
}

.card-images{
  position: relative;
}

.card-text h2{
  margin-bottom: 40px;
  font-size: 1.45rem;
}

.box-last-item{
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 1.5;
}

.con-a{
  margin-top: 75px;
  margin-bottom: 150px;
}

/* FOOTER */

.last-container{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container-foot {
  display: flex;
  width: 70%;
  margin: 20px auto;
  min-height: 400px;
}

.footer-it{
  color: white;
  padding-top: 20px;
  font-size: 0.9rem;
}

.footer-it::before{
  content: url(/img/ita.png);
  padding-right: 3px;
}

.footer-it::after{
  content: '\2228';
  padding-left: 3px;
}

.right {
  display: flex;
  flex: 2;
  color: white;
  margin-top: 70px;
}

.column {
  flex: 1;
}

.column span{
  font-size: 1.4rem;
}

.box-line{
  width: 70%;
  margin-bottom: 50px;
}

.line {
  height: 2px;
  background-color: white;
  width: 10%;
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  margin: 0 auto;
}

.logo {
  padding: 10px;
}

.bottone {
  padding: 10px;
}

.bottone-footer-rg{
  background-color: #8EA0E2;
  color: white;
  padding: 13px 25px;
  border-radius: 40px;
  text-decoration: none;
}

.bottone-footer-rg:hover{
  background-color: #8ea0e27f;
}

.globe span{
  color: white;
}

.globe{
  margin-top: 25px;
}

.column ul li{
  list-style-type: none;
  line-height: 2rem;
}

.column ul li:first-child{
  margin-top: 40px;
}